.card {
    display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
  }
.title{
 text-align: left;
}
.color-card{
    
    background-color: #FF4162;
}  
 