.income-container{
    display: flex;
}

.bar {
    width: 20px; /* กำหนดความกว้างของแท่ง */
    background-color: #007bff; /* สีเริ่มต้น */
    margin-right: 5px; /* ระยะห่างระหว่างแท่ง */
  }

  .gradient-bar {
    background-image: linear-gradient(to right, #E46C88, #FDD2BF);
}